<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hex Test</title> 

    <link rel="stylesheet" href="bootstrap/bootstrap.min.css">
    <script src="jquery/jquery.js"></script>
    <script src="bootstrap/bootstrap.min.js"></script>
    <script src="main.js?n=1"></script>  <!-- This tells the HTML file to look at main.js for all user inputs-->

    <style>
        .row {
            margin-bottom: 15px;
        }
    </style>

    <style> 
    .center {
        text-align: center; 
    }
    </style>
    

</head>

<body>
    <header>
      <h1 style="text-align:center;">Hex To Binary and Decimal</h1>  <!-- "text-align:center will allign words in center-->
    </header>

    <main>
       <div class="container">
        <div class="row">
          <div class="col-sm">
            <input class="form-control" id="hex" type="text">
          </div>
        </div>
      </div>
       <button type="submit" onclick="getInput()" class="btn btn-dark form-control" id = "big-endian" >Generate Binary + Decimal</button>

      <p id="displayArea"></p>
    </main>

</body>

</html>
